#header{
    background-color: #1f1f1f;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    color: #e6e6e6;
    font-size: 8em;
    padding-right: 30px;
    /* height: 30px; */
    
}


body{
    background: linear-gradient(-45deg, #a30000, #d60000);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    height: 120vh;
    margin: 0;
    padding: 0;
    font-weight: 100;
}


p{
    color: rgb(2, 2, 2);
    display: inline-flex;
    /* background-color: rgb(255, 255, 255); */
    align-items: center;
    justify-content: center;
    /* height: auto; */
    font-size: 11em;
    width: 80%;
    margin: 0;

}

#mainBox1{
    background:#e6e6e6;
    width: 70%;
    height: auto;
    border-radius: 10px;
    margin-left: 200px;
    padding: 30px;
    border: 0px solid black;
    box-shadow:0 0 40px -10px #000;
    /* margin-top: 20px; */
    margin: auto;
    margin-top: 20px;
    /* align-content: center; */
}
#mainBox2{
    background:#e6e6e6;
    width: 70%;
    height: auto;
    border-radius: 10px;
    margin-left: 200px;
    padding: 30px;
    border: 0px solid black;
    box-shadow:0 0 40px -10px #000;
    /* margin-top: 20px; */
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
}

#addPizza{
    font-size: 6em;
    padding: 8px 12px;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #a30000;
    border-radius: 5px;
    background: 0;
    background-color: #d60000;
    color: #ffffff;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 120px;
}
#deletePizza{
    font-size: 6em;
    padding: 8px 12px;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #a30000;
    border-radius: 5px;
    background: 0;
    background-color: #d60000;
    color: #ffffff;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 70px;
    margin-bottom: 30px;
}

#fulfillmentTime{
    font-size: 5em;
}
#fulfillmentTimeHeader{
    font-size: 5em;
}